.quote {float: right;}
.tm {float: left;}

table, th, td {border: 2px solid dodgerblue;}
tr.even{background-color : lightsteelblue}

p ul {color : #03396c}
h1 {color : #03396c; font-size : 1.5em}
h2 {color : #03396c; font-size : 1.25em}
p a {color : #650e32}
p a:visited {color :#40031c}
p {color : #03396c}

body {font-family: Tahoma, sans-serif;}
body {background-color: #e4edf2;}

body nav {background-color: #98d5f9}
body nav a {color: #152a64}
body nav a:hover {background-color: #7fc9f7}
body nav {padding: 10px}
nav {margin-bottom: 30px}

@media only screen and (max-width: 800px) { /*small screen */
    .banner, .gibberish {display: none;}
    .gibberish {display: none;}
}
@media only screen and (min-width: 801px){ /*big screen */
    nav a {max-width: 100%; display: block;}
    span {display: none;}
}


