p {color : #03396c}
h1 {color : #03396c; font-size : 1.5em}
h2 {color : #03396c; font-size : 1.25em}
p a {color : #011f4b}
body {background-color: #e4edf2;}
nav {background-color: #cde2ee;}
nav a {color: #bbdcf0;}
