
p {color : #03396c}
h1 {color : #03396c; font-size : 1.5em}
h2 {color : #03396c; font-size : 1.25em}
p a {color : #011f4b}
p a href {color : #650e32}
body {background-color: #e4edf2;}

body nav {background-color: #98d5f9}
body nav a {color: #152a64}
body nav a:hover {background-color: #7fc9f7}
body nav {padding: 10px}
nav {margin-bottom: 30px}