
h1 {color: hotpink; font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;}
p {color: pink;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;}
p a {color: red;}

/*this styles the id */
#secondparagraph {font-size: 1.5em;}

/*this styles a class */
.purpletext {color: rgb(187, 97, 242);}
